html {
	scroll-behavior: smooth;
}
body::before {
  display: block;
  content: '';
  height: 60px;
}

#map > iframe {
  width: 100%;
  border-radius: 10px;
}
@media(min-width: 768px) {
  .news-input {
    width: 50%;
  }
}